# Exclude all dot files except .gitignore
.*
!.gitignore
corePrograms
javaConcept
JavaPrograms110
XBasic
xcollections
programs
# Ignore all files inside screenshots
screenshots/*

# But keep the folder
!screenshots/.gitkeep